@import "../../layout/variables.scss";

.ingredients-list {
	padding: 10px 15px;
	background-color: #FFFD77;
	width: auto;
	border-radius: 5px;
}
.ingredients-list .item {
	// margin: 0 0 15px 0;
	display: block;
	list-style-type: none;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 3px;
	font-size: 16px;
	text-transform: capitalize;

	&:hover {
		background-color: #fff7e9;
		cursor: pointer;
	}

	&.selected {
		background-color: #fff7e9;
		color: $main-color;
 		transition: 0.2s;
		
		 & .fa-check-square {
			// color: $main-color;
			font-size: 16px;
		}
	}

	.measurmenet {
		text-transform: none;
		margin-left: 3px;
	}

	.ingredient-quantity {
		font-weight: bold;
	}
}

@media only screen and (max-width: 768px) {
	.ingredients-wrapper {
		width: 100%;
	}
}
