@import "./variables.scss";
body {
	padding-top: 70px;
}

.fas,
.far {
	padding-right: 5px;
}

// .layout-wrapper {
// 	margin-top: 30px;
// }

.container-wrapper {
	padding: 25px 0;
}

.login-wrapper {
	form label {
		font-family: "Noto Sans JP", sans-serif;
		font-weight: bold;
	}

	h1 {
		text-align: center;
		margin-bottom: 30px;
		font-family: "Roboto Slab", serif;
		font-size: 36px;
	}

	.form-control {
		font-family: "Noto Sans JP", sans-serif;
		padding: 30px;
	}

	.login-wrapper-form {
		border: 1px solid gainsboro;
		border-radius: 3px;
		padding: 30px;
		box-shadow: 1px 2px 7px #bdbdbd;
		margin-top: 10%;
	}

	.main-action-btn {
		text-transform: uppercase;
		margin-top: 40px;
	}

	.secondary-link {
		text-align: center;
		display: block;
		color: black;
	}
}

.section-title {
	font-size: 24px;
	font-family: "Roboto Slab", serif;
	font-weight: 600;
}

.breadcrumb {
	background-color: transparent;
	padding: 0;

	& a {
		color: black;
	}

	.breadcrumb-item + .breadcrumb-item {
		padding-left: 5px;
	}
}
