/* CSS */
// --gold-web-golden: hsla(51, 100%, 100%, 1);
// --pacific-blue: hsla(188, 70%, 79%, 1);
// --bud-green: hsla(114, 50%, 68%, 1);
// --chinese-red: hsla(12, 93%, 69%, 1);
// --purple-navy: hsla(233, 41%, 51%, 1);

/* SCSS HEX */
$main-color:#06A561;
$main-dark-color: #131523;
$gold-web-golden: #ffd701ff;
$pacific-blue: #3cb6caff;
$bud-green: #5fad56ff;
$chinese-red: #b02e0cff;
$purple-navy: #4d5382ff;


$go-green: #06a561ff;
$honeydew: #ebf5dfff;
$sunray: #edb458ff;
$fulvous: #e8871eff;
$cinnabar: #e94f37ff;
$dark-gray: #3c3b3b;

/* SCSS HSL */
$gold-web-golden: hsla(51, 100%, 100%, 1);
$pacific-blue: hsla(188, 70%, 79%, 1);
$bud-green: hsla(114, 50%, 68%, 1);
$chinese-red: hsla(12, 93%, 69%, 1);
$purple-navy: hsla(233, 41%, 51%, 1);

/* SCSS RGB */
$gold-web-golden: rgba(255, 215, 1, 1);
$pacific-blue: rgba(60, 182, 202, 1);
$bud-green: rgba(95, 173, 86, 1);
$chinese-red: rgba(176, 46, 12, 1);
$purple-navy: rgba(77, 83, 130, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ffd701ff, #3cb6caff, #5fad56ff, #b02e0cff, #4d5382ff);
$gradient-right: linear-gradient(90deg, #ffd701ff, #3cb6caff, #5fad56ff, #b02e0cff, #4d5382ff);
$gradient-bottom: linear-gradient(180deg, #ffd701ff, #3cb6caff, #5fad56ff, #b02e0cff, #4d5382ff);
$gradient-left: linear-gradient(270deg, #ffd701ff, #3cb6caff, #5fad56ff, #b02e0cff, #4d5382ff);
$gradient-top-right: linear-gradient(45deg, #ffd701ff, #3cb6caff, #5fad56ff, #b02e0cff, #4d5382ff);
$gradient-bottom-right: linear-gradient(135deg, #ffd701ff, #3cb6caff, #5fad56ff, #b02e0cff, #4d5382ff);
$gradient-top-left: linear-gradient(225deg, #ffd701ff, #3cb6caff, #5fad56ff, #b02e0cff, #4d5382ff);
$gradient-bottom-left: linear-gradient(315deg, #ffd701ff, #3cb6caff, #5fad56ff, #b02e0cff, #4d5382ff);
$gradient-radial: radial-gradient(#ffd701ff, #3cb6caff, #5fad56ff, #b02e0cff, #4d5382ff);
