.search-filer-list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		display: inline-block;
		margin: 5px 5px 5px 0;
	}
}

.search-modal {
	p {
		font-weight: bold;
		margin: 15px 0 0;
		font-family: "Open Sans", sans-serif;
	}

	.custom-toggle-btn {
		color: indianred;
		display: block;
	}

	.custom-btn {
		border-radius: 5px !important;
		margin: 5px;

		&:hover {
			cursor: pointer;
			background-color: rgb(241, 207, 9) !important;
			border-color: gold !important;
		}

		&.active {
			background-color: gold !important;
			border-color: gold !important;
		}

		&.active::before {
			content: "✔";
			font-weight: bold;
			padding-right: 5px;
		}
	}

	.btn-outline-info {
		color: black;
		border-color: black;
	}
}
