.cusine-item {
	text-align: center;
	cursor: pointer;

	img {
		border-radius: 50%;
		border: 2px solid #c1c1c1;
		margin-bottom: 10px;
	}

	.description {
		font-family: "Roboto Slab", serif;
		font-weight: 600;
	}

	.image-wrapper {
		position: relative;
	}

	.checkbox-wrapper {
		position: absolute;
		bottom: 10px;
		right: 18px;
		font-size: 35px;
		color: gray;
	}

	&.selected .checkbox-wrapper {
		color: #06a561;
	}

	&.selected img {
		border-color: #06a561;
	}

	&:hover img {
		border: 2px solid #06a561;
	}

	&:hover .checkbox-wrapper {
		color: #06a561;
	}
}
