.register-wrapper {
	form label {
		font-family: "Noto Sans JP", sans-serif;
		font-weight: bold;
	}

	h1 {
		text-align: center;
		margin-bottom: 40px;
		font-family: "Open Sans", sans-serif;
	}

	.form-control {
		font-family: "Noto Sans JP", sans-serif;
		padding: 30px;
	}

	.register-wrapper-form {
		border: 1px solid gainsboro;
		border-radius: 3px;
		padding: 30px;
		box-shadow: 1px 2px 7px #bdbdbd;
		margin-top: 10%;
	}

	.register-btn {
		text-transform: uppercase;
		margin-top: 40px;
	}
}
