$top-margin: 40px;
.recipe-details {
	margin-top: $top-margin;

	article {
		margin: 30px auto;
		font-family: "Roboto Slab", serif;
	}

	.img-wrapper {
		position: relative;
		margin-top: 50px;

		.collection-wrapper {
			display: inline;
			// top: -50px;
		}

		.recipe-cooking-details {
			position: absolute;
			bottom: 0;
			background-color: #d23535;
			right: 0;
			padding: 5px;
			color: #fff1d6;
		}

		.description-item {
			padding: 5px 10px;
			display: block;
		}

		.time-effort {
			border-top: 2px solid #fff1d6;
		}
	}
}

.similiar-recipes-wrapper {
	margin-top: $top-margin;
}

.mobile-title {
	display: none;
}

.ingredients-wrapper {
	float: left;
	min-width: 320px;
	margin-right: 15px;
	padding: 0 10px 5px 0;
}

.recipe-description {
	font-size: 14px;
}

.recipe-description {
	max-width: 900px;
	.step-number {
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 20px;
		background-color: #3cb6ca;
		color: white;
		margin-right: 10px;
		padding-top: 4px;
		text-align: center;
		font-weight: bold;
		float: left;
	}

	h3 {
		font-size: 24px;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 768px) {
	$top-margin: 15px;

	.recipe-details {
		margin-top: $top-margin;
	}
	.recipe-title {
		font-size: 24px;
	}

	.recipe-details .img-wrapper {
		margin-top: 15px;
	}

	.mobile-title {
		display: block;
	}
}
