.recipe-details {
	article {
		margin: 30px auto;
		font-family: "Roboto Slab", serif;
	}

	.recipe-title {
		margin-bottom: 70px;
	}

	.img-wrapper {
		position: relative;
		margin-top: 50px;

		.collection-wrapper {
			display: inline;
			top: -50px;
		}

		.recipe-cooking-details {
			position: absolute;
			bottom: 0;
			background-color: #d23535;
			right: 0;
			padding: 5px;
			color: #fff1d6;
		}

		.description-item {
			padding: 5px 10px;
			display: block;
		}

		.skill-level {
		}

		.time-effort {
			border-top: 2px solid #fff1d6;
		}
	}
}
