// .home-wrapper {
//   background-image: url(https://images.unsplash.com/photo-1516824467205-afa656d31a79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
//   height: 100vh;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.collection-preview-wrapper {
	a {
		color: black;
		font-family: Roboto;
	}

	.collection-item {
		background-color: gold;
		padding: 5px;
		margin-bottom: 2px;
		border-right: 1px solid white;

		&:hover {
			cursor: pointer;
			background-color: goldenrod;
			transition: 0.1s;

			a {
				text-decoration: none;
			}
		}
	}
}
