@import "../../layout/variables.scss";

.recipe-details .collection-wrapper .header {
	position: absolute;
	right: 0;
	font-size: 50px;
	color: $highlight-yellow;
}

.collection-wrapper {
	z-index: 10;
	position: relative;
	text-transform: uppercase;
	font-size: 14px;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	max-width: 320px;

	& .collection-list {
		display: none;
		border: 1px solid #c1c1c1;
		min-height: 150px;

		ul {
			overflow-y: scroll;
			overflow-x: hidden;
			max-height: 200px;
			height: 225px;
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		li {
			padding: 6px 5px 6px 10px;
			border-bottom: 1px solid #eae9e9;
			text-transform: none;
		}
	}

	&:hover {
		cursor: pointer;
	}

	& .header {
		position: absolute;
		right: 0;
		font-size: 30px;
		color: $highlight-yellow;
	}
	



	.collection-item:hover {
		background-color: #fff7d6;
	}

	.collection-item.selected {
		background-color: #fff7d6;
	}

	.add-new-collection {
		float: right;
		color: black;
	}

	.collection-title {
		font-weight: bold;
		font-size: 18px;
	}
	.add-collection-btn {
		background-color: $cinnabar;
		color: white;
		text-decoration: none;
		font-size: 12px;
		width: 100%;
		padding: 10px;
		display: block;
		text-align: center;
		font-weight: 500;
	}
}

.collection-wrapper:hover .collection-list {
	display: block;
	position: absolute;
	background-color: white;
	padding: 0;
	list-style-type: none;
	transition: 0.2s;
	right: 0;
	left: 0;
	top: 0;
	margin: 0 auto;
	width: 95%;
	border-radius: 3px;
}

.add-collection-wrapper {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0;
}
