.search-component-wrapper {
	background-color: #ffd70130;
	padding: 70px 0 40px;
	margin-top: -20px;
}

.search-input {
	width: 100%;
	padding: 10px;
	border: 1px solid black;
	font-family: "Noto Sans JP", sans-serif;
	border-radius: 3px;

	&:focus,
	&:active {
		box-shadow: none;
	}
}

.search-button {
	background-color: black;
	padding: 10px;
	border: 0px;
	width: 100%;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	font-family: "Noto Sans JP", sans-serif;
	border-radius: 3px;
}

.advanced-search-btn-wrapper {
	text-align: center;
	margin-top: 5px;

	button {
		text-decoration: underline;
		font-weight: bold;
		background-color: transparent;
	}
}

.predefined-search-wrapper {
	.predefined-filters {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			display: inline-block;
			padding: 0 10px 0 0;

			a {
				color: black;
				padding: 5px 5px 0 0;
				display: inline-block;
				border-bottom: 2px solid transparent;

				&:hover {
					text-decoration: none;
					border-bottom-color: black;
					transition: 0.2s;
				}
			}
		}
	}
}
