.email-subscription-wrapper {
	padding: 60px 0;
	background-color: #06A561;

	& input {
		width: 300px;
		padding: 8px 10px;
		border: 1px solid gray;
		border-radius: 3px;
		display: inline;
	}

	& button {
		padding: 8px;
		background-color: black;
		border: 0px;
		color: white;
		border-radius: 3px;
		width: 150px;
		margin-left: 5px;
	}

	@media only screen and (max-width: 920px) {
		.section-title {
			font-size: 24px;
		}

		& .form-control {
			width: 100%;
		}

		& button {
			width: 100%;
			margin: 10px 0;
		}
	}
}
