@import "../variables.scss";

.logo {
	font-size: 28px;
}

.logout-button {
	background-color: transparent;
	border: 0px solid;
	padding: 0;
	margin: 0;
}

.profile-link {
	color: black;
	margin-right: 10px;
}

.bg-custom {
	background-color: $main-color;
	color: white;

	.dropdown-menu {
		border-radius: 0;
	}
}

.navbar-light .navbar-nav .nav-link {
	color: black;
	font-weight: bold;
}

.nav-item {
	text-transform: uppercase;
}

.user-avatar {
	display: inline-block;
	border-radius: 50%;
	background-color: khaki;
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
}

.admin-label, 
.admin-label:hover{
	background-color: #c1c1c1;
	cursor: auto;
}

.notifications-dropdown{
	// width: 300px;
}