@import "../variables.scss";

.logo {
	font-size: 28px;
}

.logout-button {
	background-color: transparent;
	border: 0px solid;
	padding: 0;
	margin: 0;
}

.profile-link {
	color: black;
	margin-right: 10px;
}

.bg-custom {
	border-bottom: 1px solid #ececec;
    background-color: white;
	
	.dropdown-menu {
		border-radius: 0;
	}
}

.navbar-light .navbar-brand{
	color: $main-color;
}

.navbar-light .navbar-nav .nav-link {
	font-family: "Roboto Slab", serif;
	font-weight: 800;
	border-bottom: 1px solid transparent;
	text-transform: uppercase;
	color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
	transition: 0.3s;
	color: $main-color;
	border-bottom: 1px solid $main-color;
	
}
.user-avatar {
	display: inline-block;
	border-radius: 50%;
	background-color: khaki;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}

.admin-label, 
.admin-label:hover{
	background-color: #c1c1c1;
	cursor: auto;
}

.notifications-dropdown{
	// width: 300px;
}