.card-wrapper {
	margin: 15px auto;
	position: relative;
	border-radius: 3px;
	border: 1px solid #bdb7b7;

	&:hover {
		box-shadow: 1px 2px 7px #bdbdbd;
		transition: 0.2s;
	}

	& .recipe-item-details {
		text-align: center;
		font-family: "Noto Sans JP", sans-serif;
		font-size: 10px;
		text-transform: uppercase;
		display: flex;
		align-items: center;
		justify-content: center;

		.label-info {
			font-size: 9px;
			font-family: Roboto;
		}
	}

	.recipe-item-details:nth-child(2n+1) {
		border-right: 1px solid #afac9b;
	}

	.card-body {
		padding: 10px 6px;
	}

	.recipe-link {
		text-shadow: none;
		font-family: "Open Sans", sans-serif;
		font-size: 14px;
		font-weight: bold;
		position: absolute;
		bottom: 0;
		z-index: 1;
		color: white;
		display: block;
		padding: 5px 10px;
		background-color: rgba(52, 58, 64, 0.6);
		text-transform: uppercase;

		&:hover {
			text-decoration: none;
		}

		.minutes-suffix {
			text-transform: none;
		}
	}

	.recipe-details {
		font-size: 14px;
	}

	.img-wrapper {
		position: relative;

		& img {
			height: 200px;
			width: 100%;
		}
	}

	.cooking-level {
		padding-top: 3px;
	}
}


