.card-wrapper {
	margin: 15px auto;
	position: relative;
	border: 1px solid black;
	border-radius: 3px;

	.collection-wrapper {
		display: none;
	}

	&:hover {
		box-shadow: 1px 2px 7px #bdbdbd;
		transition: 0.2s;
	}

	&:hover .collection-wrapper {
		display: block;
	}

	& .recipe-item-details {
		text-align: center;
		font-family: "Noto Sans JP", sans-serif;
		font-size: 11px;
		text-transform: uppercase;
		// min-height: 30px;

		.label-info {
			font-size: 10px;
			font-family: Roboto;
		}
	}

	.recipe-item-details:nth-child(1) {
		border-right: 1px solid black;
	}

	.card-body {
		padding: 10px;

		& .row {
			margin-bottom: 5px;
		}
	}
	.recipe-link {
		text-shadow: none;
		font-family: "Open Sans", sans-serif;
		font-size: 18px;
		font-weight: bold;

		position: absolute;
		bottom: 0;
		z-index: 1;
		color: white;
		display: block;
		padding: 5px 10px;
		background-color: rgba(52, 58, 64, 0.6);
		text-transform: uppercase;

		&:hover {
			text-decoration: none;
		}

		.minutes-suffix {
			text-transform: none;
		}
	}

	.recipe-details {
		font-size: 14px;
	}

	.img-wrapper {
		position: relative;
	}

	.cooking-level {
		padding-top: 3px;
	}
}
