.recipe-wrapper {
  background-color: #f5f1f1;
  margin: 15px;
  padding: 15px;
}

.ingredients-list {
  padding: 0;
}
.ingredients-list .item {
  display: inline;
  margin: 0;
  list-style-type: none;
}

.ingredients-list .item::after {
  content: ",";
  margin-right: 5px;
}

.ingredients-list .item:last-of-type::after {
  content: "";
}
