.preselected-categories-wrapper {
	padding: 0 0 30px 0;
	border-bottom: 1px solid #ececec;
    margin-bottom: 60px;
    
	.food-item-wrapper {
		border-radius: 50%;
		border: 2px solid #06a561;
		display: block;
		width: 100px;
		height: 100px;

		&:hover {
			cursor: pointer;
			border: 3px solid #04844d;
			box-shadow: 0px 0px 11px #c1c1c1;
			transition: 0.1s;
		}
		.food-icon {
			width: 50px;
			position: absolute;
			top: 23px;
			left: 40px;
		}
	}
}
