.profile-wrapper {
	h3 {
		font-size: 24px;
		font-family: "Noto Sans JP", sans-serif;
		// font-family: "Open Sans", sans-serif;
		font-weight: bold;
		margin-bottom: 0;
		background-color: #F7F7F9;
		padding: 5px 10px;
		// color: white;
		display: inline-block;
    min-width: 360px;
	}

	.user-collections-wrapper .collection-item {
		padding: 20px;
	}

	.user-collections-wrapper .collection-item:nth-child(even) {
		background-color: white;
	}

	// .user-collections-wrapper .collection-item:nth-child(odd) {
	// 	background-color: #f9f7f7;
	// }
}
